Data_Front/
Data_Back/
Old_scripts/
weather_CLIP/*png
weather_CLIP/*json
weather_images_for_ornl/
src/__pycache__
Experiments/
Analysis/MasterSheet_CSV_updated.csv
Analysis/MasterSheet_2023_updated.csv
lightning_logs/
Analysis/find_total_veh.ipynb